[Desktop Entry]
Encoding=UTF-8
Name=VEDA
Comment=VEDA P2P Cryptocurrency
Comment[fr]=VEDA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VEDA, eşten eşe kriptografik sanal para birimi
Exec=veda-qt %u
Terminal=false
Type=Application
Icon=veda128
MimeType=x-scheme-handler/veda;
Categories=Office;Finance;
